<!doctype html>
<html ng-app="myTodos">

<head>
    <title>A Simple Todo List</title>

    <link href="Contents/css/todo.css" rel="stylesheet" />
    <link href="Contents/bootstrap-combined/bootstrap-combined.css" rel="stylesheet" />
    <script src="Scripts/angular-1.6.7/angular.min.js"></script>
    <script src="Scripts/jquery-3.2.1/jquery.min.js"></script>
    <script src="Scripts/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="App/todo.js"></script>
</head>

<body class="mainTodo">
    <div ng-controller="TodoCtrl as get">
        <div class="pull-left">
            <div>
                <h2>Todo</h2>
                <span>{{get.remaining()}} of {{get.getTotalTodos()}} remaining</span> [ <a href="" ng-click="get.unMarked()">archive</a> ]
                <ul class="unstyled">
                    <li ng-repeat="todo in get.todos">
                        <input type="checkbox" ng-model="todo.done" />
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                        <a ng-if="todo.done" type="text" href="#" ng-click="get.remove(get.todos, todo)"><i class="icon-trash"></i></a>
                    </li>
                </ul>
            </div>
            <div>&nbsp;</div>
            <div>
                <!-- bootstrap.js and jquery.js are needed for this validation to work as intended -->
                <form name="todoForm" ng-submit="todoForm.$valid && get.addTodo()" class="form-horizontal" novalidate>
                    <input type="text" class="form-control" name="todo" ng-model="get.formTodoText" placeholder="Enter todo text" ng-model-instant required ng-minlength="3">
                    <span ng-message="todoForm.name.$error" ng-if="todoForm.$submitted && !get.formTodoText">
                        <span ng-message="required" class="alert alert-warn  alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Warning!</strong> Please, enter at least 3 chars in this field!
                        </span>
                    </span>
                    <div>&nbsp;</div>
                    <div>
                        <button class="btn btn-success" type="submit"><i class="icon-plus"></i>Add</button>
                        <button type="button" class="btn btn-info" ng-click="get.toggleJsonString()">Toggle Json String</button>
                        <button type="button" class="btn btn-danger btn-small" ng-click="get.unMarked()"><i class="icon-trash"></i> Trash Marked Items</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <pre ng-if="get.showJson">{{get.todos | json}}</pre>
        </div>
    </div>
</body>

</html>